header{
    background-color: white;
    color: white;
    padding: 10px 0;
    text-align: center;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.container {
    margin-top: 100px;
    text-align: center;
}

input[type="text"] {
    padding: 10px;
    border-radius: 5px;
    width: 300px;
}

button {
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #4285f4;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #357ae8;
}

#result {
    margin-top: 20px;
    font-size: 20px;
}